body
{
	background: olive;
	color: white;
	font-family: helvetica, arial;
	font-size: 16px;
	font-style: italic;
}
h1
{
	text-align: center;
	text-shadow: black 5px 5px 10px ;
}
#imagene
{
	margin: auto 45%;
}
#imagene1
{
	margin: auto 38%;
}
#parrafo-mensaje
{
	background:white;
	/*border-radius: 0.5em;*/
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.5) ;
	color: black;
	display: block;
	margin: 1em auto;
	padding: 1em;
	text-align: center;
	width: 28%;
}
.naranja
{
	color: orange;
	font-weight: bold;
}
